{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "plugins": ["flowtype", "jest"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "import/prefer-default-export": ["off"],
    "import/no-default-export": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "jsx-a11y/no-autofocus": [
      0,
      {
        "ignoreNonDOM": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignorePattern": "<p[^>]*>.*?</p>",
        "ignoreTrailingComments": true
      }
    ],
    "consistent-return": 0
  }
}
