name: Electron CD

on:
  push:
    branches:
      - deprecation

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-16.04, macos-latest, windows-latest]

    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: yarn install
        run: |
          yarn install
      - name: Build
        run: |
          yarn dist
      - name: Upload artifacts-dmg
        uses: actions/upload-artifact@v1
        if: contains(matrix.os, 'macos')
        with:
          name: macos
          path: dist/Zepio-0.9.1.dmg
      - name: Upload artifacts-exe
        uses: actions/upload-artifact@v1
        if: contains(matrix.os, 'windows')
        with:
          name: win
          path: dist/Zepio Setup 0.9.1.exe
      - name: Upload artifacts-deb
        uses: actions/upload-artifact@v1
        if: contains(matrix.os, 'ubuntu')
        with:
          name: linux
          path: dist/zepio_0.9.1_amd64.deb
